#Variables and Data Types in Python

##Topics to be covered:
Variables: Naming Conventions, Assigning Values, Variable Scope, Understanding Name Errors, The Concept of Variables as Labels
Numbers: Integers, Floating-Point Numbers, Arithmetic Operations, Order of Operations, Underscores in Numerical Literals, Multiple Assignment, Type Conversion
Strings: Defining Strings, String Concatenation, String Formatting, String Methods, Escape Sequences
Booleans: Boolean Values, Boolean Operators, Comparison Operators

##Beginner level:

### Assigning values to variables

In [ ]:
name = "Alice"
age = 30

In [ ]:
print(name)   #Prints Alice

Alice

In [ ]:
print(age)    # Prints 30

30

###Performing arithmetic operations

In [ ]:
number1 = 10
number2 = 5
sum = number1 + number2

In [ ]:
print(sum)

15

### Creating a string

In [ ]:
message = "Hello, world!"
print(message)

Hello, world!

### Checking a boolean value

In [ ]:
is_active = True
print(is_active)

True

##Graduate level:

### Using multiple assignment

In [ ]:
x, y, z = 1, 2, 3
print(x, y, z)

1 2 3


### Formatting strings

In [ ]:
name = "Bob"
age = 25
formatted_message = f"My name is {name} and I am {age} years old."
print(formatted_message)

My name is Bob and I am 25 years old.

### Using string methods

In [ ]:
text = "This is a sample text."
print(text.upper())  # Convert to uppercase
print(text.lower())  # Convert to lowercase
print(text.split()) # Split into a list of words

THIS IS A SAMPLE TEXT.
this is a sample text.
['This', 'is', 'a', 'sample', 'text.']

##Advance level:

### Defining a function with type hints

In [ ]:
def calculate_area(length: float, width: float) -> float:
    """Calculates the area of a rectangle."""
    return length * width

In [ ]:
print(calculate_area(10,10))

100

### Using a conditional statement with boolean operators

In [ ]:
temperature = 25
if temperature > 30:
    print("It's hot!")
elif temperature < 10:
    print("It's cold!")
else:
    print("It's pleasant.")

It's pleasant.

### Working with complex numbers

In [ ]:
complex_number = 3 + 4j
print(complex_number.real)  # Access the real part - Prints 3.0
print(complex_number.imag)  # Access the imaginary part - Prints 4.0

3.0
4.0